@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(0 74 173);

}

header {
    background-color: rgb(0 74 173);
    display: flex;
    flex-direction: column;
    height: 160px;
}

header div.top-part {
    display: flex;
    justify-content: flex-start;
    height: 50%;
    border-bottom: solid 4px rgb(221, 212, 212);
}

header div.top-part div.logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div.top-part div.logo img {
    width: 80%;
    
}

header div.top-part div.title-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header div.top-part div.title-logo h1 {
    font-size: 20px;
    color: white;
}

header div.top-part div.title-logo p {
    font-size: 15px;
    color: white;
}

header div.top-part nav {
    width: 500px;
    height: 100%;
}

header div.top-part nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

header div.top-part nav ul li {
    list-style: none;
}

header div.top-part nav ul li a {
    text-decoration: none;
    color: white;
}

header div.bottom-part {
    height: 50%;

}

header div.bottom-part div.social {
    width: 500px;
    height: 100%;
}

header div.bottom-part div.social ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div.bottom-part div.social ul li {
    list-style: none;
}

header div.bottom-part div.social ul li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
main {
    height:1000px;
    border-radius: 50px 50px 0 0;
    background-color: white;
    overflow: hidden ;
}
.Creative-net{
    margin-top: 30px;
    margin-left: 30px;
}
div.p-pr{
    border-bottom: solid 4px rgb(221, 212, 212);
    font-size:25px;
    margin-top: 60px;
    margin-left: 60px;
    width:  400px;

  
}
h1{
    text-align: center;
}
div.img-web{
    width: 130rem;
    display: flex;
    align-items: center;
    flex-direction: column;


}
 div.canter-aboutus nav {
    width: 500px;
   
  
}
 div.canter-aboutus ul {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 9px;


}

 div.canter-aboutus ul li {
    list-style: none;
}

div.canter-aboutus ul li a {
    text-decoration: none;
    color: black;
}
div.team-web nav {
    width: 500px;
  
}

div.team-web ul  li a {
    
    display: flex;
    justify-content:space-around;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);

}
footer{
    border-bottom: solid 4px rgb(221, 212, 212);
}

 footer p{
    text-align: right;
     padding-bottom: 360px;

}