@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
   
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
    background-image: url(images/Background_4.png);
    background-size: cover;
}

header {

    display: flex;
    flex-direction: column;
    height: 160px;
}

header div.top-part {
    display: flex;
    justify-content: flex-start;
  
    border-bottom: solid 3px rgb(37, 120, 255);
}

header div.top-part div.logo {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



header div.top-part div.title-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header div.top-part div.title-logo h1 {
    font-size: 20px;
    color: white;
}

header div.top-part div.title-logo p {
    font-size: 15px;
    color: white;
}

header div.top-part nav {
    width: 500px;
    height: 100%;
}

header div.top-part nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

header div.top-part nav ul li {
    list-style: none;
}

header div.top-part nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
}

header div.top-part nav ul li a:hover {
    text-decoration: none;
    color: rgb(139, 138, 138);
    transition: all 0.3s ease;
}

header div.bottom-part {
    height: 50%;

}

header div.bottom-part div.social {
    width: 500px;
    height: 100%;
}

header div.bottom-part div.social ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div.bottom-part div.social ul li {
    list-style: none;
}

header div.bottom-part div.social ul li a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.logo img {
    max-width: 50px;
}

.title-logo h1 {
    font-size: 24px;
    margin: 0;
}

.title-logo p {
    font-size: 14px;
    color: #ffffff;
    margin-top: 5px;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
    
}

nav ul li a:hover {
    color: #ffffff;
    
}

.p-pr {
    margin-top: 50px;
    text-align: center;
}

.p-pr h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff;
}

.p-pr p {
     
    color:white;
}

.img.Creative img {
    max-width: 150px;
    margin: 0 auto;
}
div.large-logo{
    width: 130rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.button {
    background-color: #1f8bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1457a3;
}
