main {
	border-bottom: 5px solid rgb(37, 120, 255);
	padding-bottom: 150px;
	margin-left: 50px;
	margin-right: 50px;
}

main .about-us h1 {
	color: #fff;
	font-size: 55px;
	margin: 20px 0;
	text-align: center;
}

main .about-us p {
	color: #ccc;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	margin: 18px auto;
	line-height: 1.8;
	max-width: 800px;
}

main .about-us {
	padding: 40px 20px;
}

footer div.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 100%;
	margin-left: 100px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer div.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 100%;
	margin-left: 100px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer {
	position: relative;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

footer div.social-icons a {
	color: #649ec2;
	font-size: 30px;
	transition: all 0.5s ease;
}

footer div.social-icons a:hover {
	color: #fff;
}
