.teams-button {
	display: flex;
	justify-content: start;
}

.teams-button a {
	width: 200px;
	text-align: end;
	padding: 10px 30px;
}

.p-pr {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	gap: 70px;
}

.p-pr .text {
	max-width: 600px;
}

.p-pr .text p {
	margin-bottom: 50px;
}

.p-pr .text h1 {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 20px;
	color: white;
}

.p-pr .text p {
	font-size: 18px;
	line-height: 1.5;
	color: #bdbdbd;
}

.p-pr img {
	width: 500px;
}

div.img-alt {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.large-logo {
	width: 130rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.button:hover {
	background-color: #1457a3;
}

div.naves-good {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 550px;
}

footer div.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 100%;
	margin-left: 100px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer {
	position: relative;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

footer div.social-icons a {
	color: #649ec2;
	font-size: 30px;
	transition: all 0.5s ease;
}

footer div.social-icons a:hover {
	color: #fff;
}

div.img-web {
	width: 170rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
