main {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 160px);
}

header {
	height: fit-content !important;
}

main .about-us h1 {
	color: #fff;
	font-size: 60px;
}

main .about-us p {
	color: #ccc;
	font-size: 35px;
	width: 40%;
}

.teams-button {
	display: flex;
	justify-content: end;
	padding: 0 5%;
}

div.images-fr {
	top: 60%;
	right: 250px;
	transform: translateY(-50%);
	position: absolute;
}

main .developers-section {
	margin-top: 00px;
}
main .developers-section h1 {
	font-size: 46px;
	margin-bottom: 10px;
}

main .developers-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: start;
}

.content {
	display: flex;
	justify-content: space-between;
	padding: 0 100px;
	align-items: center;
	margin-top: 100px;
	padding-bottom: 40px;
	border-bottom: 5px solid rgb(37, 120, 255);
	padding-bottom: 150px;
	margin-left: 50px;
	margin-right: 50px;
}

main .developers-list .developer {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 100%;
	gap: 30px;

	padding: 10px 20px;
	color: white;
}

main i {
	color: #649ec2;
	font-size: 70px;
}

main .icon i {
	font-size: 300px !important;
}

main .developers-list .developer p {
	margin: 0;
	font-size: 30px;
}
div.developers-section h1 {
	color: white;
}
main .developer3 p {
	font-size: 100px;
}

footer div.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 100%;
	margin-left: 100px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer {
	position: relative;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

footer div.social-icons a {
	color: #649ec2;
	font-size: 30px;
	transition: all 0.5s ease;
}

footer div.social-icons a:hover {
	color: #fff;
}
