.button {
	background-color: #1f8bff;
	color: #fff;
	border: none;
	padding: 3px 50px;
	border-radius: 50px;
	font-size: 50px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 20px;
	transition: background-color 0.3s, transform 0.2s;
	position: relative;
	top: 110px; 
	margin: 30px; 
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.button:hover {
	color: #1f8bff;
	border-radius: 30px;
	border: 3px solid #eb1869;
	transition: 0.4s;
	background-color: #fff;
}
main {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 160px);
}

main .about-us h1 {
	color: #fff;
	font-size: 60px;
}

main .about-us p {
	color: #ccc;
	font-size: 35px;
	width: 40%;
}

div.images-fr {
	top: 60%;
	right: 250px;
	transform: translateY(-50%);
	position: absolute;
}

main .developers-section {
	margin-top: 00px;
}
main .developers-section h1 {
	font-size: 46px;
	margin-bottom: 10px;
}

main .developers-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	margin-right: 700px;
}

main .developers-list .developer {
	display: flex;
	align-items: center;
	gap: 10px;

	padding: 10px 20px;
	color: white;
}

main .developers-list .developer i {
	color: #649ec2;
	font-size: 24px;
}

main .developers-list .developer p {
	margin: 0;
	font-size: 18px;
	width: 180px; /* لوزن الكلمات للمطورين */
}
div.developers-section h1 {
	color: white;
}
main .developer3 p {
	font-size: 100px;
}

footer div.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 500px;
	height: 100%;
	margin-left: 100px;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
div.developer img {
	width: 200px;
}
footer {
	position: relative;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

footer div.social-icons a {
	color: #649ec2;
	font-size: 30px;
	transition: all 0.5s ease;
}

footer div.social-icons a:hover {
	color: #fff;
}
